.bg-menu1{
    background-image: linear-gradient(to left,rgba(7, 2, 29, 0.945),rgba(249, 95, 34, 0.8));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-menu2{
    background-image: linear-gradient(rgba(249, 95, 34, 0.8));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}