.bg-menu-review{
    background-image: linear-gradient(to left,rgba(249, 95, 34, 0.8),rgba(7, 2, 29, 0.945));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}